body

h1
{
color:darkblue;
    font-family:verdana;
}

h2
{
    color:black;
    font-family:arial;
    text-shadow:4px 4px 3px DarkGray;
    }

marquee
{
    color:white;
    border:3px solid darkblue;
    background-color:red;
    font-family:arial;
    }

h4
{
    color:black;
    font-family:arial;
    }
