body

h1
{
    color:darkblue;
    font-family:verdana;
    text-align:center;
    }

marquee
{
    color:white;
    border:3px solid darkblue;
    background-color:red;
    font-family:arial;
    }

h2
{
    
    font-family:arial;
    text-shadow:4px 4px 3px DarkGray;
    }


h4
{
    color:back;
    font-family:arial;
    }







